# self
docs/ignore/


# Node.js
node_modules/


# Environment
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*.so
.Python
venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/

# IDE
.vscode/
.idea/
*.swp